@using SessionMessage.Core;
@model Example.Controllers.SessionMessageViewModel
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container">
        <section class="row">
            <h1>Session Message</h1>

            <div class="well row">
                <div class="row">
                    <div class="span4">
                        <div class="control-group">
                            <div class="controls">
                                <label class="control-label" for="message">Message</label>
                                @Html.TextAreaFor(m => m.Message, new { rows = "3", cols = "50", placeholder = "Enter a message ..." ,id = "tbMessage" })
                            </div>
                        </div>
                    </div>

                    <div class="span2">
                        <div class="control-group" id="toastTypeGroup">
                            <div class="controls">
                                <label>Message Type</label>
                                @foreach (MessageType value in Enum.GetValues(typeof(MessageType)))
                                {
                                    <div>
                                        @Html.RadioButtonFor(m => m.Type, value) @value.ToString()
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="control-group" id="positionGroup">
                        <div class="controls">
                            <label>Message Options</label>
                            @foreach (MessageBehaviors value in Enum.GetValues(typeof(MessageBehaviors)))
                            {
                                <div>
                                    @Html.RadioButtonFor(m => m.Behaviors, value) @value.ToString()
                                </div>
                            }
                        </div>
                    </div>

                </div>

                <div class="row">
                    <input type="submit" class="btn btn-primary btn-large" value="Show Message" />
                    <input type="button" class="btn btn-primary btn-large" id="btnAjax" value="Ajax Message" />
                </div>
            </div>

            <footer class="row">
                <h2>Links</h2>

                <ul>
                    <li><a href="https://github.com/zsu/SessionMessage">GitHub</a></li>
                </ul>
            </footer>
        </section>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        var MessageType=
        {
            Error : 1,
            Warning : 2,
            Info : 3,
            Success : 4
        };
        var MessageBehaviors=
        {
            StatusBar : 1,
            Modal : 2
        }
        $().ready(function () {
            $('#btnAjax').click(function () {
                var data = {Message: $("textarea#tbMessage").val(), Type: MessageType[$('input[name=Type]:checked').val()], Behaviors: MessageBehaviors[$('input[name=Behaviors]:checked').val()]}
                $.ajax({
                    url: '@Url.Action("AjaxMessage","Home")',
                    method: "post",
                    dataType: "html",
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(data),
                    success: function (data)
                    { },
                    error: function (jqXHR, status, err)
                    { }
                });
            })
        });
    </script>
}